.about .span12, .about h2, .hr.span12, .thanks .span12, .thanks h2
  background-color $white
  margin-left 0
  margin-bottom 30px
  padding 10px

.aboutPage
  text-align: left
  @a
    color $blue

.member
  display: inline-block
  width: 70%
  margin-bottom: 10px

.aboutPhoto
  float: left
  border: 1px solid $black
  margin-right: 10px

.name
  font-size: 20px
  font-weight: bold
  display: block
  margin-bottom: 10px

.aboutText
  font-size: 16px

.links
  display: block
  margin-top: 5px
  color $blue

.links > .icon
  display: inline-block
  margin-right: 40px
  color $blue