.aboutPage
  text-align: left

.member
  display: inline-block
  width: 70%
  margin-bottom: 10px

.aboutPhoto
  float: left
  border: 1px solid black
  margin-right: 10px

.name
  font-size: 20px
  font-weight: bold
  display: block
  margin-bottom: 10px

.aboutText
  font-size: 16px

.links
  display: block
  margin-top: 5px

.links > .icon
  display: inline-block
  margin-right: 40px
