@import nib
@import "bootstrap/variables.styl"
@import url("http://fonts.googleapis.com/css?family=Oxygen:400,700")
@import "district_map.styl"
@import "compare_bar_chart.styl"
@import "d3Donut.styl"
@import "words.styl"
@import "billtext.styl"
@import "loading.styl"
@import "words_bar_chart.styl"
@import "about.styl"
@import "hex.styl"
@import "compare.styl"
@import "individual.styl"

html body
  font-family 'Oxygen', "Helvetica Neue", Helvetica, Arial, sans-serif !important
  margin 0
  padding 0
  background-image url('/images/tile.png')
  text-transform none
  letter-spacing 0
  color $grayDark
  text-align center

.left
  float left

.right
  float right

.index-text
  font-size 20px
  margin 10px

#nav
  margin-top 0px
  margin-bottom 20px
  text-align center

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus
  background-color $blue

.dropdown-menu.pull-right
  top: 30px

#sticky-footer
  position fixed
  font-size 0.6rem
  height 1.3rem
  width 100%
  bottom 0
  padding 0
  color $white
  background-color $gray
  z-index 300
  a
    color $white
  span
    padding 0 10px

#body_container
  bottom 1.3rem
