@import nib
@import "bootstrap/variables.styl"
@import url("http://fonts.googleapis.com/css?family=Oxygen:400,700")
@import "district_map.styl"
@import "compare_bar_chart.styl"
@import "d3Donut.styl"
@import "words.styl"
@import "billtext.styl"
@import "loading.styl"
@import "about.styl"
@import "hex.styl"
@import "compare.styl"
@import "individual.styl"
@import "attribution.styl"
@import "main.styl"

///////////////////
// Default Styles
///////////////////

html body
  font-family 'Oxygen', "Helvetica Neue", Helvetica, Arial, sans-serif !important
  background-image url('/images/tile.png')
  text-transform none
  color $grayDark
  text-align center

//Floats
.left
  float left
.right
  float right

// Headers and paragraphs
h2
  text-align center
p
  text-align left

//Colors
.blue
  color $blue
.red
  color $red
.orange
  color $orange
.green
  color $green
.grayDark
  color $grayDark

///////////////////
// Sticky Footer
///////////////////

$footer_height = 1.5rem

html, body
  height 100%
  padding 0
  margin 0

#push, #footer
  height $footer_height

#wrap
  min-height 100%
  margin 0 auto -1*$footer_height auto

#footer
  position fixed
  font-size 0.6rem
  line-height $footer_height
  height $footer_height
  width 100%
  bottom 0
  padding 0
  color $white
  background-color $gray
  z-index 300
  a
    color $white
  span
    padding 0 10px

//responsive fix
@media (max-width 767px)
  #footer
    margin-left -20px
    margin-right -20px
    padding-left 20px
    padding-right 20px

///////////////////
// Header Styles
///////////////////
.navbar-inner > .container
  max-width 1040px

.logo.header
  border-radius: 100%
  margin-right: 6px
  margin-top:-6px

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus
  background-color $blue
  color $white
  text-shadow: 0 1px 0 $black;

.dropdown-menu.pull-right
  top: 30px