.billDetail h1
  text-align center
  width 80%
  margin 0 auto

.billDetail select
  text-align left

#billText
  display block
  width 60%
  margin 0 auto
  font-size 18px
  line-height 18px

#billTextContainer > iframe
  margin-top 20px