.billDetail .container
  width 80%

.billDetail h1
  text-align center
  margin 0 auto

.billDetail select
  display: block

#billText
  display block
  width 60%
  margin 0 auto
  font-size 18px
  line-height 18px

#billTextContainer > iframe
  margin-top 20px

.container > .sponsor
  display: block
  float: left
  font-style: italic
  font-size: 18px
  margin-top: 10px
  margin-bottom: 10px