.bill .span12
  background-color $white
  margin-left 0
  margin-bottom 30px
  padding 10px
  text-align left

// h2
//   text-align center


// .billDetail .container
//   width 80%

// .billDetail h1
//   color: $blue
//   width: 80%
//   text-align center
//   margin 0 auto

.searchContainer
  display: block
  text-align: left
  height 3rem

.searchContainer form, .searchContainer select
  display: inline-block

// #billTextContainer > iframe
//   margin-top 20px

// .container > .sponsor
//   display: block
//   float: left
//   font-style: italic
//   font-size: 18px
//   margin-top: 10px
//   margin-bottom: 10px