.text-left
  text-align left

.text-center
  text-align center

.text-right
  text-align right

.image1
  margin-left 10%
  margin-right 15%
  padding 5px
  background-color $red

.image2
  margin-right 10%
  margin-left 15%
  padding 5px
  background-color $orange

.contributors
  background-color $white

.row
  margin-left 0px
  margin-right 0px

.donors
  background-color $white

h3.green
  color $green

h1.blue
  color $blue

h3.blue
  color $blue

h4.blue
  color $blue

.red > input
  color $red
  font-size 20px
  padding 10px 0px 10px 10px

.orange > input
  color $orange
  font-size 20px
  padding 10px 0px 10px 10px

