.text-left
  text-align left

.text-center
  text-align center

.text-right
  text-align right

.image1
  margin-left 10%
  margin-right 15%
  padding 10px
  background-color $white

.image2
  margin-right 10%
  margin-left 15%
  padding 10px
  background-color $white

.contributors
  background-color $white

.row
  margin-left 0px
  margin-right 0px

.donors
  background-color $white