.text-left
  text-align left

.text-center
  text-align center

.text-right
  text-align right

.image1
  margin-left 10%
  margin-right 15%
  padding 5px
  background-color $red
  margin-bottom 10px

.image2
  margin-right 10%
  margin-left 15%
  padding 5px
  background-color $orange
  margin-bottom 10px

.link1
  margin-right 20%
  margin-left 15%
  padding 2px
  color $red
  display inline-block

.link2
  margin-right 15%
  margin-left 14%
  padding 2px
  color $orange
  display inline-block

.compare-icon1
  color $red

.compare-icon2
  color $orange

.contributors
  background-color $white
  padding 20px

.row
  margin-left 0px
  margin-right 0px

.donors
  background-color $white

h3.green
  color $green

h1.blue
  color $blue

h3.blue
  color $blue

h4.blue
  color $blue

.red > input
  color $red
  font-size 20px
  padding 10px 0px 10px 10px
  margin-right 15%
  margin-left 10%

.orange > input
  color $orange
  font-size 20px
  padding 10px 0px 10px 10px
  margin-right 10%
  margin-left 15%

