.map_tooltip
  user-select: none;
  border-radius: 12px, 12px, 12px, 0;
  position: absolute;
  text-align: left;
  height: 14px;
  padding: 5px;
  font: 10px sans-serif;
  font-weight: bold;
  background: #ddd;
  border: solid 1px #000;
  pointer-events: none;

#map_dialog
  user-select: none;
  position: absolute;
  text-align: left;
  width: 260px;
  height: 325px;
  padding: 10px;
  font: 10px sans-serif;
  color: #3D3D3D;
  background linear-gradient(bottom left, rgba(246,248,249,0.7) 0%,rgba(229,235,238,0.8) 50%,rgba(215,222,227,0.8) 51%,rgba(245,247,249,0.9) 100%)
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;
  overflow: scroll;

#map_dialog.full-display
  top: 160px;
  left: 100px;

#map_dialog.mobile-display
  top: 140px;
  left: 20px

#map_holder path 
  stroke-linejoin round

.districts 
  fill #6B6B6B

.districts :hover 
  fill: url(#hover_gradient)

.districts .selected 
  fill url(#selected_gradient)

.district-boundaries 
  pointer-events none
  fill none
  stroke #ddd

.state-boundaries 
  pointer-events none
  fill none
  stroke #fff
  stroke-width 1.5px

.small_rep_image
  width: 42px
  margin: 0 6px 0 6px;
  display: inline-block;

.small_rep_details
  width: 198px;
  display: inline-block;

.small_rep_details strong
  display: inline-block;
  width: 43px;
