.map_tooltip
  user-select: none;
  border-radius: 12px, 12px, 12px, 0;
  position: absolute;
  text-align: left;
  height: 14px;
  padding: 5px;
  font: 10px sans-serif;
  font-weight: bold;
  background: $blue;
  border: solid 1px #000;
  pointer-events: none;

.map
  @a
    text-decoration none
  @a:hover
    color $grayDark

#map_dialog
  opacity: 0
  position: absolute;
  text-align: left;
  width: 270px;
  // height: 325px;
  padding: 10px;
  font: 10px sans-serif;
  color: #3D3D3D;
  background linear-gradient(bottom left, rgba(246,248,249,0.7) 0%,rgba(229,235,238,0.8) 50%,rgba(215,222,227,0.8) 51%,rgba(245,247,249,0.9) 100%)
  border: solid 1px #aaa;
  border-radius: 8px;

#map_dialog.full-display
  top: 200px;
  left: 100px;

#map_dialog.mobile-display
  top: 390px
  left: 10px

.icon-location-arrow.icon-large
  color $blue

.container.map.mobile-display
  float left
  margin-left 10px

#map_holder path
  stroke-linejoin round

.districts
  fill $grayLight

.districts :hover
  fill: url(#hover_gradient)

.districts .selected
  fill url(#selected_gradient)

.district-boundaries
  pointer-events none
  fill none
  stroke $grayLighter

.state-boundaries
  pointer-events none
  fill none
  stroke $grayLighter
  stroke-width 1.5px

.small_rep_image
  width: 42px
  margin: 0 6px 0 6px;
  display: inline-block;

.small_rep_details
  width: 198px;
  display: inline-block;

.small_rep_details strong
  display: inline-block;
  width: 43px;

.highlight-invalid
  color $red

.error-text
  color $red

#customInputError
  color: $red
  border-color: $red
  -webkit-box-shadow:0 0 6px #d59392
  -moz-box-shadow:0 0 6px #d59392
  box-shadow:0 0 6px #d59392

.help-inline.error-text
  width: 100%
