.popover
  max-width 480px

.moreInfo
  font-size $fontSizeSmall
  color $grayLight

.individual .span12
  background-color $white
  margin-left 0
  margin-bottom 30px
  padding 10px
  text-align left
  overflow-x hidden

h2
  text-align center

h3 .gray
  color $gray

.contact
  padding 5px 20px 5px 20px
