@import nib

html, body
  margin: 20px

body
    background: #fafafa
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    color: #333

.hero-unit
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;

.hero-unit h1
    font-size: 60px
    line-height: 1
    letter-spacing: -1px

ul
    list-style-type: none

.map_tooltip
  border-radius: 12px, 12px, 12px, 0;
  position: absolute;
  text-align: left;
  height: 14px;
  padding: 5px;
  font: 10px sans-serif;
  background: #ddd;
  border: solid 1px #000;
  pointer-events: none;

#map_dialog
  cursor: default;
  position: absolute;
  text-align: left;
  top: 80px;
  left: 100px;
  width: 250px;
  height: 420px;
  padding: 10px;
  font: 10px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;
  word-wrap:break-word;

.billDetail h1
    text-align: center
    width: 90%

#billText
    display: block
    width: 60%
    margin: 0 auto
    font-size: 18px
    line-height: 18px

#map_canvas path {
  stroke-linejoin: round;
}

.districts {
  fill: #bbb;
}

.districts :hover {
  fill: orange;
}

.districts .selected {
  fill: green;
}

.district-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #ddd;
}

.state-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
}
