@import nib

html, body
  margin: 20px
  color: #eee

body
    background: #fafafa
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    color: #333
html body .mq-mobile {
    display: block !important;
  }
html body .mq-mobile-i-block {
  display: inline-block 
  display: inline
} 
#header {
  margin-top: 0;
  margin-bottom: -50px;
  padding: 0;
}
#tagline {
  font-size: 60px;
  word-spacing: 1px;
  line-height: 70px;
  margin-top: .3em;
}
// .fonts-body {
//   font-family: "freightsans_regular", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
//   font-weight: 300;
//   text-transform: none;
//   letter-spacing: 0;
// }

// .fonts-display {
//   font-family: "freightsans_regular", sans-serif;
//   font-weight: 300;
//   text-transform: uppercase;
//   letter-spacing: 3px;
// }

.index-page
  padding: 0px
  background-color: #eee

.no-js
  background-color: #eee

.container
  background-color: #eee

.text-left 
  text-align: left

.text-center {
  text-align: center 
}  

#nav {
  margin-top: 20px;
  margin-bottom: 55px;
  text-align: center;
}

#nav a {
  border-color: #6a6a65;
  padding-bottom: 5px;
  display: block;
}
#nav a:hover, #nav a:active, #nav a:focus {
  border-color: #16a6b6;
}
#nav a.active {
  color: #ee6557;
  border-color: #ee6557;
}
#nav a.active {
  color: #ee6557;
  border-color: #ee6557;
}
#nav p {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  width: 120px;
  margin: 0 10px;
}
#nav p.alpha {
  margin-left: 0;
}
#nav p.omega {
  margin-right: 0;
}
.hero-unit
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;

.hero-unit h1
    font-size: 60px
    line-height: 1
    letter-spacing: -1px

ul
    list-style-type: none

.billDetail h1
    text-align: center
    width: 90%

#billText
    display: block
    width: 60%
    margin: 0 auto
    font-size: 18px
    line-height: 18px

#map_canvas path {
  stroke-linejoin: round;
}

.districts {
  fill: #bbb;
}

.districts :hover {
  fill: orange;
}

.districts .selected {
  fill: green;
}

.district-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #ddd;
}

.state-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
}
