table.words
  display: table
  margin: 0 auto

.alignTop
  vertical-align: top

.wordList
  text-align: left
  margin-left: 30px
  font-size: 20px

.topWords > td
  width: 40%

td.spacer
  width: 10%

.wordFrequency
  margin-top: 10px
  font-size: 28px
  width: 50%
