table .words
  display: table

.alignTop
  vertical-align: top

.wordList
  text-align: left
  margin-left: 30px
  font-size: 20px

.words > td
  width: 30%

td.spacer
  width: 20%

.wordFrequency
  margin-top: 10px
  font-size: 28px
