.wordsBarItem
  fill: $green

.wordsBarText
  font-size: 20px
  font-weight: bold

.wordsBarCount
  font-size: 20px
  font-weight: bold

.formWordQuery
  padding 0
  margin 1px

.words .span12
  background-color $white
  margin-left 0
  margin-bottom 30px
  padding 10px

.tooltip_words
  user-select: none
  border-radius: 3px, 12px, 12px, 12px
  position: absolute
  text-align: left
  height: 14px
  padding: 5px 5px 5px 15px
  font: 10px sans-serif
  font-weight: bold
  color: $darkGray
  background: $white
  pointer-events: none
