.words-bar-holder
  display: table;

.words-bar-holder .bar1
  stroke: white;
  fill: #1047A9;

.words-bar-holder .bar2
  stroke: white;
  fill: #5AB400;

.words-bar-holder svg
  fill: #FFFFFF

.wordsBarItem
  fill: #1047A9

.wordsBarText
  font-size: 20px
  font-weight: bold