<header id="header" class="clearfix">

<nav class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a href="#" class="brand" style="margin-left:25px; margin-right:50px;">Tilden</a>


      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="#">Home</a></li>
          <li class="text-left"><a href="/#/district_map/">District Map</a></li>
          <li class="text-left"><a href="/#/bills/BILLS-113hr3059ih">Bill Search</a></li>
          <li class="text-right"><a href="/#/compare/">Compare Reps</a></li>
          <li class="text-right"><a href="/#/words/">Word Explorer</a></li>
          <li class="text-right"><a href="/#individual/">Individual</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<hr class="center"/>
</header>