<header id="header" class="clearfix">

<div class="navbar" ng-controller="NavBarCtrl">
  <div class="navbar-inner">
    <div class="container">
      <button class="btn btn-navbar" ng-click="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="#" class="brand" style="margin-left:25px; margin-right:50px;">Tilden</a>


      <div class="nav-collapse" collaspe="isCollasped">
        <ul class="nav">
          <li><a href="#">Home</a></li>
          <li class="text-left"><a href="/#/district_map/">District Map</a></li>
          <li class="text-left"><a href="/#/bills/BILLS-113hr3059ih">Bill Search</a></li>
          <li class="text-right"><a href="/#/compare/">Compare Reps</a></li>
          <li class="text-right"><a href="/#/words/">Word Explorer</a></li>
          <li class="text-right"><a href="/#individual/">Individual</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<hr class="center"/>
</header>