/*!
 * Bootstrap v2.3.2
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */


// Core variables and mixins
@import "variables.styl"; // Modify this for custom colors, font-sizes, etc
@import "../../bower_components/bootstrap-stylus/stylus/mixins.styl";

// CSS Reset
@import "../../bower_components/bootstrap-stylus/stylus/reset.styl";

// Grid system and page structure
@import "../../bower_components/bootstrap-stylus/stylus/scaffolding.styl";
@import "../../bower_components/bootstrap-stylus/stylus/grid.styl";
@import "../../bower_components/bootstrap-stylus/stylus/layouts.styl";

// Base CSS
@import "../../bower_components/bootstrap-stylus/stylus/type.styl";
@import "../../bower_components/bootstrap-stylus/stylus/code.styl";
@import "../../bower_components/bootstrap-stylus/stylus/forms.styl";
@import "../../bower_components/bootstrap-stylus/stylus/tables.styl";

// Components: common
@import "../../bower_components/bootstrap-stylus/stylus/sprites.styl";
@import "../../bower_components/bootstrap-stylus/stylus/dropdowns.styl";
@import "../../bower_components/bootstrap-stylus/stylus/wells.styl";
@import "../../bower_components/bootstrap-stylus/stylus/component-animations.styl";
@import "../../bower_components/bootstrap-stylus/stylus/close.styl";

// Components: Buttons & Alerts
@import "../../bower_components/bootstrap-stylus/stylus/buttons.styl";
@import "../../bower_components/bootstrap-stylus/stylus/button-groups.styl";
@import "../../bower_components/bootstrap-stylus/stylus/alerts.styl"; // Note: alerts share common CSS with buttons and thus have styles in buttons

// Components: Nav
@import "../../bower_components/bootstrap-stylus/stylus/navs.styl";
@import "../../bower_components/bootstrap-stylus/stylus/navbar.styl";
@import "../../bower_components/bootstrap-stylus/stylus/breadcrumbs.styl";
@import "../../bower_components/bootstrap-stylus/stylus/pagination.styl";
@import "../../bower_components/bootstrap-stylus/stylus/pager.styl";

// Components: Popovers
@import "../../bower_components/bootstrap-stylus/stylus/modals.styl";
@import "../../bower_components/bootstrap-stylus/stylus/tooltip.styl";
@import "../../bower_components/bootstrap-stylus/stylus/popovers.styl";

// Components: Misc
@import "../../bower_components/bootstrap-stylus/stylus/thumbnails.styl";
@import "../../bower_components/bootstrap-stylus/stylus/media.styl";
@import "../../bower_components/bootstrap-stylus/stylus/labels-badges.styl";
@import "../../bower_components/bootstrap-stylus/stylus/progress-bars.styl";
@import "../../bower_components/bootstrap-stylus/stylus/accordion.styl";
@import "../../bower_components/bootstrap-stylus/stylus/carousel.styl";
@import "../../bower_components/bootstrap-stylus/stylus/hero-unit.styl";

// Utility classes
@import "../../bower_components/bootstrap-stylus/stylus/utilities.styl"; // Has to be last to override when necessary
