<div class="aboutPage container">
  <div class="row-fluid">
    <div class="span8 team">
      <div class="row-fluid about">
        <h2 class="red">The Tilden Team</h2>

        <div class="span12">
          <img class="aboutPhoto" src="images/greg.jpg" />
          <span class="name green">Gregory Hilkert</span>
          <span class="aboutText">Greg was born and did stuff, then he died. In between he ate sandwiches and took his dog for long walks and rubbed the dog's belly. Why do dogs like having their bellies rubbed? It's pretty crazy if you stop to think about it for a minute. Anyway, I digress. This guy did a whole lot of stuff -- TONS of stuff. This description doesn't even touch the surface. Wnat to know more? Check him out on... Twitter.</span>
          <span class="links">
            <a target="_blank" href="https://github.com/EpiphanyMachine" class="icon icon-github icon-3x"></a>
            <a target="_blank" href="http://www.linkedin.com/in/gregoryhilkert" class="icon icon-linkedin icon-3x"></a>
            <a target="_blank" href="http://ideahaven.co" class="icon icon-laptop icon-3x"></a>
          </span>
        </div>

        <div class="span12">
          <img class="aboutPhoto" src="images/cyd.jpg" />
          <span class="name orange">Cyd La Luz</span>
          <span class="aboutText">Cyd lives on the border of Nancy Pelosi's and Jackie Speier's congressional districts. The geolocation feature of this website can't decide which congresswoman represents him either. He's written letters to both legislators and has gotten replies from both, so this must be a feature and not a bug. In the past Cyd has worked as an elementary school teacher, a radio journalist, and a statistical analyst among other occupations.</span>
          <span class="links">
            <a target="_blank" href="https://github.com/quetzaluz" class="icon icon-github icon-3x"></a>
            <a target="_blank" href="http://linkedin.com/in/quetzaluz" class="icon icon-linkedin icon-3x"></a>
          </span>
        </div>

        <div class="span12">
          <img class="aboutPhoto" src="images/jake.jpg">
          <span class="name red">Jake McGuire</span>
          <span class="aboutText">Jake was active in debate and politics at Yale, where he served as editor of a campus newspaper and debated in the Yale Political Union. After graduation he joined Teach For America and taught high school chemistry. He's now creating dynamic client-side apps that harness the full power of modern browsers. When Jake has free time he's probably running around Lake Merritt or doing the <a href="http://www.youtube.com/watch?v=sJtTDnbU-eM">Bernie Lean</a> at an Oakland A's game.</span>
          <span class="links">
            <a target="_blank" href="https://github.com/eastbayjake" class="icon icon-github icon-3x"></a>
            <a target="_blank" href="http://www.linkedin.com/in/jakemcguire" class="icon icon-linkedin icon-3x"></a>
            <a target="_blank" href="http://www.eastbayjake.com" class="icon icon-laptop icon-3x"></a>
            <a target="_blank" href="http://www.twitter.com/eastbayjake" class="icon icon-twitter icon-3x"></a>
          </span>
        </div>

        <div class="span12">
          <img class="aboutPhoto" src="images/ricky.jpg">
          <span class="name green">Ricky Sidhu</span>
          <span class="aboutText">In just five short years, Ricky has gone from Parisian restauranteur to full stack software engineer, while picking up two associates degrees in computer science and business administration along the way. Ricky designed and wrote much of the client code for stealth startup Chefler. He specializes in rapidly prototyping web applications on frameworks.</span>
          <span class="links">
            <a target="_blank" href="https://github.com/riksidhu" class="icon icon-github icon-3x"></a>
            <a target="_blank" href="http://www.linkedin.com/pub/ricky-sidhu/69/591/389" class="icon icon-linkedin icon-3x"></a>
            <a target="_blank" href="http://www.rickysidhu.com" class="icon icon-globe icon-3x"></a>
            <a target="_blank" href="https://twitter.com/riksidhu" class="icon icon-twitter icon-3x"></a>
          </span>
        </div>

        <div class="span12">
          <img class="aboutPhoto" src="images/josh.jpg">
          <span class="name orange">Josh Sprague</span>
          <span class="aboutText">Josh was born and did stuff, then he died. In between he ate sandwiches and took his dog for long walks and rubbed the dog's belly. Why do dogs like having their bellies rubbed? It's pretty crazy if you stop to think about it for a minute. Anyway, I digress. This guy did a whole lot of stuff -- TONS of stuff. This description doesn't even touch the surface. Wnat to know more? Check him out on... Twitter.</span>
          <span class="links">
            <a target="_blank" href="https://github.com/joshsprague" class="icon icon-github icon-3x"></a>
            <a target="_blank" href="http://www.linkedin.com/in/joshjsprague" class="icon icon-linkedin icon-3x"></a>
          </span>
        </div>

        <div class="span12">
          <img class="aboutPhoto" src="images/tilden.png">
          <span class="name red">Samuel J. Tilden</span>
          <span class="aboutText">Few people in American history have been hurt more by a lack of government transparency than <a target="_blank" href="http://en.wikipedia.org/wiki/Samuel_J._Tilden">Samuel J. Tilden</a>, who lost the election of 1876 despite winning the popular vote. The election was ultimately decided by a 15-member panel of Republicans and Democrats who negotiated that Rutherford B. Hayes would win, but only if Republicans promised to end Reconstruction in the South. We named Tilden in his honor.</span>
        </div>
      </div>
    </div>

    <div class="span4 thanks">
      <div class="row-fluid">
        <h2 class="orange">Special Thanks</h2>


        <div class="span12">
          <h3 class="red">Our Data Sources</h3>
          <span>A lot of time, knowledge and dedication has been put forth by many organizations to make the data available for free for developers everywhere.  To read more about our data sources please see our <a href="/#/attribution/">attribution</a> page. </span>
        </div>

<!--
        <div class="span12">
          <h3 class="green">title</h3>
          <span>stuff here</span>
        </div>
 -->
      </div>
    </div>
  </div>

  <div class="hr span12">
    <h3 class="green">Created at Hack Reactor</h3>
    <img class="aboutPhoto" src="images/hr_icon.png">
    <span class="aboutText">Hack Reactor is an intensive study program that teaches Javascript, HTML5/CSS, Ruby on Rails, and emerging web development frameworks such as Meteor and Angular JS. Students attend the program for twelve weeks, six days a week, for 11 hours a day from 9AM to 8PM; most students, including the members of the Tilden team, stay in the office to work well beyond these hours. Students come to Hack Reactor to work hard, learn from some of the best in the business, and build great applications.
      <span class="links">
        <a target="_blank" href="https://github.com/EpiphanyMachine" class="icon icon-github icon-3x"></a></a><a href="http://hackreactor.com/" target="_blank">Website</a></span>
      </span>
  </div>

</div>
