<ng-include src="'/views/partials/header.html'"></ng-include>
<div class="aboutPage">
  <div class="team">
    <h3>The Tilden Team</h3>
    <div class="member">
      <img class="aboutPhoto" src="images/greg.jpg">
      <span class="name">Greg Hilkert</span>
      <span class="aboutText">Greg was born and did stuff, then he died. In between he ate sandwiches and took his dog for long walks and rubbed the dog's belly. Why do dogs like having their bellies rubbed? It's pretty crazy if you stop to think about it for a minute. Anyway, I digress. This guy did a whole lot of stuff -- TONS of stuff. This description doesn't even touch the surface. Wnat to know more? Check him out on... Twitter.</span>
      <span class="links">
        <a href="https://github.com/EpiphanyMachine" class="icon icon-github"></a>
        <a href="http://linkedin.com/in/ghilkert" class="icon icon-linkedin"></a>
      </span>
    </div>
    <div class="member">
      <img class="aboutPhoto" src="images/cyd.jpg">
      <span class="name">Cyd La Luz</span>
      <span class="aboutText">Cyd was born and did stuff, then he died. In between he ate sandwiches and took his dog for long walks and rubbed the dog's belly. Why do dogs like having their bellies rubbed? It's pretty crazy if you stop to think about it for a minute. Anyway, I digress. This guy did a whole lot of stuff -- TONS of stuff. This description doesn't even touch the surface. Wnat to know more? Check him out on... Twitter.</span>
    </div>
    <div class="member">
      <img class="aboutPhoto" src="images/jake.jpg">
      <span class="name">Jake McGuire</span>
      <span class="aboutText">Jake was born and did stuff, then he died. In between he ate sandwiches and took his dog for long walks and rubbed the dog's belly. Why do dogs like having their bellies rubbed? It's pretty crazy if you stop to think about it for a minute. Anyway, I digress. This guy did a whole lot of stuff -- TONS of stuff. This description doesn't even touch the surface. Wnat to know more? Check him out on... Twitter.</span>
    </div>
    <div class="member">
      <img class="aboutPhoto" src="images/ricky.jpg">
      <span class="name">Ricky Sidhu</span>
      <span class="aboutText">Ricky was born and did stuff, then he died. In between he ate sandwiches and took his dog for long walks and rubbed the dog's belly. Why do dogs like having their bellies rubbed? It's pretty crazy if you stop to think about it for a minute. Anyway, I digress. This guy did a whole lot of stuff -- TONS of stuff. This description doesn't even touch the surface. Wnat to know more? Check him out on... Twitter.</span>
    </div>
    <div class="member">
      <img class="aboutPhoto" src="images/josh.jpg">
      <span class="name">Josh Sprague</span>
      <span class="aboutText">Josh was born and did stuff, then he died. In between he ate sandwiches and took his dog for long walks and rubbed the dog's belly. Why do dogs like having their bellies rubbed? It's pretty crazy if you stop to think about it for a minute. Anyway, I digress. This guy did a whole lot of stuff -- TONS of stuff. This description doesn't even touch the surface. Wnat to know more? Check him out on... Twitter.</span>
    </div>
    <div class="member">
      <img class="aboutPhoto" src="images/tilden.png">
      <span class="name">Samuel J. Tilden</span>
      <span class="aboutText">Few people in American history have been hurt more by a lack of government transparency than <a href="http://en.wikipedia.org/wiki/Samuel_J._Tilden">Samuel J. Tilden</a>, who lost the election of 1876 despite winning the popular vote. The election was ultimately decided by a 15-member panel of Republicans and Democrats who negotiated that Rutherford B. Hayes would win, but only if Republicans promised to end Reconstruction in the South. We named Tilden in his honor.</span>
    </div>
  </div>
  <div class="hackReactor">
    <h3>About Hack Reactor</h3>
    <span>A short blurb about Hack Reactor</span>
  </div>
</div>