<ng-include src="'/views/partials/header.html'"></ng-include>
<div class="container">
  <div class="row-fluid attribution">
    <div class="span6">
      <div class="row-fluid span12">
        <h2 class="orange">The Sunlight Foundation</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <a href="http://sunlightfoundation.com/api/">The Sunlight Foundation</a>
      </div>
      <div class="row-fluid span12">
        <h2 class="green">The New York Times</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <a href="http://developer.nytimes.com/docs">The New York Times</a>
      </div>
      <div class="row-fluid span12">
        <h2 class="red">Capitol Words</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <a href="http://capitolwords.org/api/">source</a>
      </div>
    </div>
    <div class="span6">
      <div class="row-fluid span12">
        <h2 class="red">Little Sis</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <a href="http://littlesis.org/">Little Sis</a>
      </div>
      <div class="row-fluid span12">
        <h2 class="blue">Influence Explorer</h2>
        <h5>License</h5>
        <p>Data returned by this service is subject to the <a href="http://www.fec.gov/pages/brochures/sale_and_use_brochure.pdf" target="_blank">use restrictions set by the Federal Election Commission</a>. By accessing this data, you understand that you are using the data subject to all applicable local, state and federal law, including FEC restrictions.</p>
        <p>All data licensed under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/" target="_blank">Creative Commons BY-NC-SA</a> license. By downloading data, you are agreeing to the terms of the license.</p>
        <p>Federal campaign finance and lobbying data must be attributed to <a href="http://opensecrets.org" target="_blank">OpenSecrets.org</a>.</p>
        <p>State campaign finance data must be attributed to <a href="http://followthemoney.org" target="_blank">FollowTheMoney.org</a>.</p>
        <a href="http://data.influenceexplorer.com/api">Source</a>
      </div>
    </div>
  </div>
</div>
<sub-view template="partials/footer"></sub-view>