<sub-view template="partials/header"></sub-view>
<div class="billDetail" ng-controller="BillCtrl">
  <select ng-model="bill" ng-options="bill.bill_id for bill in bills">
    <option style="display:none" value="">Search for a Bill...</option>
  </select>
  <h1>{{title}}</h1>
  <div id="billTextContainer">
    <iframe src="http://docs.google.com/gview?url={{bill_url}}&embedded=true" style="width:80%; height:600px;" frameborder="0"></iframe>
  </div>
</div>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'influenceapp';
    var disqus_identifier = window.location.href;

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
