<div class="container">
  <div class="row-fluid bill">

    <div class="span12 searchContainer">
      <form class="formBillQuery" ng-submit="billQuery()">
        <input type="text" ng-model="bill_query" placeholder="Search bills (ex: health care)"></input>
        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
      </form>
      <select ng-model="bill" ng-options="bill.bill_id for bill in bills">
        <option style="display:none" value="">Select a bill...</option>
      </select>
      <span ng-show="sponsor" class="sponsor right">Sponsored by <a href="/#/individual/{{sponsor_id}}">{{sponsor}}</a></span>
    </div>

    <div class="span12">
      <h1 class="red">{{title}}</h1>
      <iframe src="http://docs.google.com/gview?url={{bill_url}}&embedded=true" style="width:100%; height:600px; margin-bottom:10px;" frameborder="0"></iframe>
    </div>

    <div class="span12">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_shortname = 'influenceapp';
          var disqus_identifier = window.location.href;

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>

  </div>
</div>