<input type="text" ng-model="rep1" typeahead="rep as rep.name for rep in reps_list | filter:$viewValue | limitTo:8" typeahead-on-select='onSelect($item, $model, $label, "rep1")' placeholder="Find Representative by Name"></input>
<p>Compare Against</p>
<input type="text" ng-model="rep2" typeahead="rep as rep.name for rep in reps_list | filter:$viewValue | limitTo:8" typeahead-on-select='onSelect($item, $model, $label, "rep2")' placeholder="Find Representative by Name"></input>

nyt overview {{reps[selected.rep1.bioguide_id].nyt_overview.roles.votes_with_party_pct}} || {{reps[selected.rep2.bioguide_id].nyt_overview.roles[0].votes_with_party_pct}}
<br />
trans id {{reps[selected.rep1.bioguide_id].influence.id}} || {{reps[selected.rep2.bioguide_id].influence.id}}
<br />
trans contrib {{reps[selected.rep1.bioguide_id].influence.contributors[1].name}} || {{reps[selected.rep2.bioguide_id].influence.contributors[1].name}}
<br />
trans local {{reps[selected.rep1.bioguide_id].influence.local["In-State"][1] | currency}} || {{reps[selected.rep2.bioguide_id].influence.local["In-State"][1] | currency}}
<br />
trans type {{reps[selected.rep1.bioguide_id].influence.type.PACs[1] | currency}} || {{reps[selected.rep2.bioguide_id].influence.type.PACs[1] | currency}}
<br />
trans industries {{reps[selected.rep1.bioguide_id].influence.industries[1].name}} || {{reps[selected.rep2.bioguide_id].influence.industries[1].name}}
<br />
votes data {{comparison.votes.common_votes}}
<br />
bills data {{comparison.bills.common_bills}}
<br />
<d3-donut data="d3_data" on-click="d3click(item)" class="span2"></d3-donut>