
  <h1 class="blue">Compare Legislators</h1>
  <div class="center">
    <img class="image1  image-rounded" ng-src="https://s3.amazonaws.com/assets.sunlightfoundation.com/moc/200x250/{{selected.rep1.bioguide_id}}.jpg"/>
    <img class="image2 image-rounded" ng-src="https://s3.amazonaws.com/assets.sunlightfoundation.com/moc/200x250/{{selected.rep2.bioguide_id}}.jpg"/>
  </div>
  <div class="center">
    <sub-view template="partials/select_rep1_name" class="red "></sub-view>
    <sub-view template="partials/select_rep2_name" class="orange "></sub-view>
  </div>
  <div class="center">
    <ul class="link1">
      <a target="_blank" href="{{reps[selected.rep1.bioguide_id].overview.website}}" class="compare-icon1 icon-globe icon-2x" tooltip="Website - {{reps[selected.rep1.bioguide_id].overview.website}}" tooltip-placement="top"></a>
      <a target="_blank" href="" class="compare-icon1 icon-phone icon-2x" tooltip="Phone - {{reps[selected.rep1.bioguide_id].overview.phone}}" tooltip-placement="top"></a>
      <a target="_blank" href="" class="compare-icon1 icon-print icon-2x" tooltip="Fax - {{reps[selected.rep1.bioguide_id].overview.fax}}" tooltip-placement="top"></a>
      <a target="_blank" href="{{reps[selected.rep1.bioguide_id].overview.contact_form}}" class="compare-icon1 icon-envelope icon-2x" tooltip="Contact form - {{reps[selected.rep1.bioguide_id].overview.contact_form}}" tooltip-placement="top"></a>
      <a target="_blank" href="{{reps[selected.rep1.bioguide_id].overview.twitter_id}}" class="compare-icon1 icon-twitter icon-2x" tooltip="Twitter Page {{reps[selected.rep1.bioguide_id].overview.twitter_id}}" tooltip-placement="top"></a>
      <a target="_blank" href="{{reps[selected.rep1.bioguide_id].overview.facebook_id}}" class="compare-icon1 icon-facebook icon-2x" tooltip="Facebook Page - {{reps[selected.rep1.bioguide_id].overview.facebook_id}}" tooltip-placement="top"></a>
    </ul>
    <div class="link2">
      <a target="_blank" href="{{reps[selected.rep2.bioguide_id].overview.website}}" class="compare-icon2 icon-globe icon-2x" tooltip="Website - {{reps[selected.rep2.bioguide_id].overview.website}}" tooltip-placement="top"></a>
      <a target="_blank" href="" class="compare-icon2 icon-phone icon-2x" tooltip="Phone - {{reps[selected.rep2.bioguide_id].overview.phone}}" tooltip-placement="top"></a>
      <a target="_blank" href="" class="compare-icon2 icon-print icon-2x" tooltip="Fax - {{reps[selected.rep2.bioguide_id].overview.fax}}" tooltip-placement="top"></a>
      <a target="_blank" href="Contact form - {{reps[selected.rep2.bioguide_id].overview.contact_form}}" class="compare-icon2 icon-envelope icon-2x" tooltip="Contact form - {{reps[selected.rep2.bioguide_id].overview.contact_form}}" tooltip-placement="top"></a>
      <a target="_blank" href="" class="compare-icon2 icon-twitter icon-2x" tooltip="Twitter Page - {{reps[selected.rep2.bioguide_id].overview.twitter_id}}" tooltip-placement="top"></a>
      <a target="_blank" href="" class="compare-icon2 icon-facebook icon-2x" tooltip="Facebook Page - {{reps[selected.rep2.bioguide_id].overview.facebook_id}}" tooltip-placement="top"></a>
    </div>
  </div>
  <div class="top-industries">
    <h3 class="green">Organizational Sources</h3>
    <h4 class="blue">Scaled at $100,000</h4>
    <div class="contributors row">
      <div class="rep1">
        <d3-donut scale="scale_company" on-click="d3DonutClick(item)" contributor="reps[selected.rep1.bioguide_id].influence.contributors[0]" number="total_amount" label="name" type="organization" class="span2">
        </d3-donut>

        <d3-donut scale="scale_company" on-click="d3DonutClick(item)" contributor="reps[selected.rep1.bioguide_id].influence.contributors[1]" number="total_amount" label="name" type="organization" class="span2">
        </d3-donut>

        <d3-donut scale="scale_company" on-click="d3DonutClick(item)" contributor="reps[selected.rep1.bioguide_id].influence.contributors[2]" number="total_amount" label="name" type="organization" class="span2">
        </d3-donut>
      </div>
      <div class="rep2">
        <d3-donut scale="scale_company" on-click="d3DonutClick(item)" contributor="reps[selected.rep2.bioguide_id].influence.contributors[0]" number="total_amount" label="name" type="organization" class="span2">
        </d3-donut>

        <d3-donut scale="scale_company" on-click="d3DonutClick(item)" contributor="reps[selected.rep2.bioguide_id].influence.contributors[1]" number="total_amount" label="name" type="organization" class="span2">
        </d3-donut>

        <d3-donut scale="scale_company" on-click="d3DonutClick(item)" contributor="reps[selected.rep2.bioguide_id].influence.contributors[2]" number="total_amount" label="name" type="organization" class="span2">
        </d3-donut>
      </div>
    </div>
  </div>
  <div class="top-individuals">
    <h3 class="blue">Individual Sources</h3>
    <div class="contributors row">
      <div class="rep1">
        <d3-donut scale="scale_individual" on-click="d3DonutClick(item)" contributor="reps[selected.rep1.bioguide_id].littleSis.donors[0]" number="amount" label="name" type="individual" class="span2">
        </d3-donut>

        <d3-donut scale="scale_individual" on-click="d3DonutClick(item)" contributor="reps[selected.rep1.bioguide_id].littleSis.donors[1]" number="amount" label="name" type="individual" class="span2">
        </d3-donut>

        <d3-donut scale="scale_individual" on-click="d3DonutClick(item)" contributor="reps[selected.rep1.bioguide_id].littleSis.donors[2]" number="amount" label="name" type="individual" class="span2">
        </d3-donut>
      </div>
      <div class="rep2">
        <d3-donut scale="scale_individual" on-click="d3DonutClick(item)" contributor="reps[selected.rep2.bioguide_id].littleSis.donors[0]" number="amount" label="name" type="individual" class="span2">
        </d3-donut>

        <d3-donut scale="scale_individual" on-click="d3DonutClick(item)" contributor="reps[selected.rep2.bioguide_id].littleSis.donors[1]" number="amount" label="name" type="individual" class="span2">
        </d3-donut>

        <d3-donut scale="scale_individual" on-click="d3DonutClick(item)" contributor="reps[selected.rep2.bioguide_id].littleSis.donors[2]" number="amount" label="name" type="individual" class="span2">
        </d3-donut>
      </div>
    </div>
  </div>
  <h3 class="green">Individual Donor Contributions</h3>
  <div class="donors">
    <compare-bar-chart data1="reps[selected.rep1.bioguide_id].influence.type.Individuals[0]" data2="reps[selected.rep2.bioguide_id].influence.type.Individuals[0]" label="'Total Funders'" currency="false"></compare-bar-chart>

    <compare-bar-chart data1="reps[selected.rep1.bioguide_id].influence.type.Individuals[1]" data2="reps[selected.rep2.bioguide_id].influence.type.Individuals[1]" label="'Contributions'" currency="true"></compare-bar-chart>
  </div>

  <h3 class="blue">PAC Contributions</h3>
  <div class="donors">
    <compare-bar-chart data1="reps[selected.rep1.bioguide_id].influence.type.PACs[0]" data2="reps[selected.rep2.bioguide_id].influence.type.PACs[0]" label="'Total PACs'" currency="false"></compare-bar-chart>

    <compare-bar-chart data1="reps[selected.rep1.bioguide_id].influence.type.PACs[1]" data2="reps[selected.rep2.bioguide_id].influence.type.PACs[1]" label="'Contributions'" currency="true"></compare-bar-chart>
  </div>
  <h3 class="green">In-State Contributions</h3>
  <div class="donors">
    <compare-bar-chart class="center grid-14" data1="reps[selected.rep1.bioguide_id].influence.local['In-State'][0]" data2="reps[selected.rep2.bioguide_id].influence.local['In-State'][0]" label="'Total Funders'" currency="false"></compare-bar-chart>

    <compare-bar-chart data1="reps[selected.rep1.bioguide_id].influence.local['In-State'][1]" data2="reps[selected.rep2.bioguide_id].influence.local['In-State'][1]" label="'Contributions'" currency="true"></compare-bar-chart>
  </div>

  <h3 class="blue">Out-of-State Contributions</h3>
  <div class="donors">
    <compare-bar-chart data1="reps[selected.rep1.bioguide_id].influence.local['Out-of-State'][0]" data2="reps[selected.rep2.bioguide_id].influence.local['Out-of-State'][0]" label="'Total Funders'" currency="false"></compare-bar-chart>

    <compare-bar-chart data1="reps[selected.rep1.bioguide_id].influence.local['Out-of-State'][1]" data2="reps[selected.rep2.bioguide_id].influence.local['Out-of-State'][1]" label="'Contributions'" currency="true"></compare-bar-chart>
  </div>
  <h3 class="green">Bills Sponsored</h3>
  <div class="donors">
    <compare-bar-chart data1="reps[selected.rep1.bioguide_id].nyt_overview.roles[0].bills_sponsored" data2="reps[selected.rep2.bioguide_id].nyt_overview.roles[0].bills_sponsored" label="'Sponsored'" currency="false"></compare-bar-chart>

    <compare-bar-chart data1="reps[selected.rep1.bioguide_id].nyt_overview.roles[0].bills_cosponsored" data2="reps[selected.rep2.bioguide_id].nyt_overview.roles[0].bills_cosponsored" label="'Co-Sponsored'" currency="false"></compare-bar-chart>
  </div>
</div>

  <!--   <h2 class="center grid-14">Top Industries</h2>
     <p>Industry: {{reps[selected.rep1.bioguide_id].influence.industries[0].name}}, Total Amount contributed {{reps[selected.rep1.bioguide_id].influence.industries[0].amount | currency}} || Industry: {{reps[selected.rep2.bioguide_id].influence.industries[0].name}}, Total Amount contributed {{reps[selected.rep2.bioguide_id].influence.industries[0].amount | currency}}</p>
     <p>Industry: {{reps[selected.rep1.bioguide_id].influence.industries[1].name}}, Total Amount contributed {{reps[selected.rep1.bioguide_id].influence.industries[1].amount | currency}} || Industry: {{reps[selected.rep2.bioguide_id].influence.industries[1].name}}, Total Amount contributed {{reps[selected.rep2.bioguide_id].influence.industries[1].amount | currency}}</p> -->

  <h3 class="blue"> Industries Contributing to Both Legislators</h3>
  <div class="donors">
    <div ng-repeat="(key, value) in compareIndustries"><compare-bar-chart data1="value[0]" data2="value[1]" label="key" lwidth=170 currency="true"></compare-bar-chart> </div><br/>
  </div>
  <!--
    <p>Industry: {{reps[selected.rep1.bioguide_id].influence.industries[2].name}}, Total Amount contributed {{reps[selected.rep1.bioguide_id].influence.industries[2].amount | currency}} || Industry: {{reps[selected.rep2.bioguide_id].influence.industries[2].name}}, Total Amount contributed {{reps[selected.rep2.bioguide_id].influence.industries[2].amount | currency}}</p>

    <h2 class="center grid-14">Report Card</h2>
    <p> Bills sponsored by {{reps[selected.rep1.bioguide_id].nyt_overview.first_name}} {{reps[selected.rep1.bioguide_id].nyt_overview.roles.bills_sponsored}} || by {{reps[selected.rep2.bioguide_id].nyt_overview.first_name}} {{reps[selected.rep2.bioguide_id].nyt_overview.roles[0].bills_sponsored}}</p>

    <p> Bills co-sponsored by {{reps[selected.rep1.bioguide_id].nyt_overview.first_name}} {{reps[selected.rep1.bioguide_id].nyt_overview.roles.bills_cosponsored}} || by {{reps[selected.rep2.bioguide_id].nyt_overview.first_name}} {{reps[selected.rep2.bioguide_id].nyt_overview.roles[0].bills_cosponsored}}</p>
  <p> Bills co-sponsored by {{reps[selected.rep1.bioguide_id].nyt_overview.first_name}} {{reps[selected.rep1.bioguide_id].nyt_overview.roles.bills_cosponsored}} || by {{reps[selected.rep2.bioguide_id].nyt_overview.first_name}} {{reps[selected.rep2.bioguide_id].nyt_overview.roles[0].bills_cosponsored}}</p>

  <p> Missed vote percentage by {{reps[selected.rep1.bioguide_id].nyt_overview.first_name}} {{reps[selected.rep1.bioguide_id].nyt_overview.roles.missed_votes_pct}} || by {{reps[selected.rep2.bioguide_id].nyt_overview.first_name}} {{reps[selected.rep2.bioguide_id].nyt_overview.roles.missed_votes_pct}}</p>

  <p> votes with party percentage by {{reps[selected.rep1.bioguide_id].nyt_overview.first_name}} {{reps[selected.rep1.bioguide_id].nyt_overview.roles.votes_with_party_pct}} || by {{reps[selected.rep2.bioguide_id].nyt_overview.first_name}} {{reps[selected.rep2.bioguide_id].nyt_overview.roles.votes_with_party_pct}}</p>

  <p>common votes {{comparison.votes.common_votes}}</p>
  <p>disagree votes {{comparison.votes.disagree_votes}}</p>
  <p>agree percentage {{comparison.votes.agree_percent}}</p>
  <p>disagree percentage {{comparison.votes.disagree_percent}}</p>
  <p>common bills {{comparison.bills.common_bills}}</p>
  -->
