<div class="center grid-14">
  <sub-view template="partials/select_rep1_name"></sub-view>
  <h4>Compare Against</h4>
  <sub-view template="partials/select_rep2_name"></sub-view>
</div>
<div class="top-industries">
  <h2 class="center grid-14">Funding Sources</h2>
  <div class="contributors">
    <p>{{reps[selected.rep1.bioguide_id].influence.contributors[0].name}}, Total Amount contributed {{reps[selected.rep1.bioguide_id].influence.contributors[0].total_amount | currency}} || {{reps[selected.rep2.bioguide_id].influence.contributors[0].name}}, Total Amount contributed {{reps[selected.rep2.bioguide_id].influence.contributors[0].total_amount | currency}}</p>

    <p>{{reps[selected.rep1.bioguide_id].influence.contributors[1].name}} , Total Amount contributed {{reps[selected.rep1.bioguide_id].influence.contributors[1].total_amount | currency}} || {{reps[selected.rep2.bioguide_id].influence.contributors[1].name}}, Total Amount contributed {{reps[selected.rep2.bioguide_id].influence.contributors[1].total_amount | currency}}</p>

    <p>{{reps[selected.rep1.bioguide_id].influence.contributors[2].name}} , Total Amount contributed {{reps[selected.rep1.bioguide_id].influence.contributors[2].total_amount | currency}} || {{reps[selected.rep2.bioguide_id].influence.contributors[2].name}} , Total Amount contributed {{reps[selected.rep2.bioguide_id].influence.contributors[2].total_amount | currency}}</p>

    <p>No of individuals: {{reps[selected.rep1.bioguide_id].influence.type.Individuals[0]}}, Total Amount contributed {{reps[selected.rep1.bioguide_id].influence.type.Individuals[1] | currency}} || No of individuals: {{reps[selected.rep2.bioguide_id].influence.type.Individuals[0]}}, Total Amount contributed {{reps[selected.rep2.bioguide_id].influence.type.Individuals[1] | currency}}</p>

    <p>No of PACs: {{reps[selected.rep1.bioguide_id].influence.type.PACs[0]}}, Total Amount contributed {{reps[selected.rep1.bioguide_id].influence.type.PACs[1] | currency}} || No of PACs: {{reps[selected.rep2.bioguide_id].influence.type.PACs[0]}}, Total Amount contributed {{reps[selected.rep2.bioguide_id].influence.type.PACs[1] | currency}}</p>

    <p>In-state: {{reps[selected.rep1.bioguide_id].influence.local["In-State"][0]}}, Total Amount contributed {{reps[selected.rep1.bioguide_id].influence.local["In-State"][1] | currency}} || No of In-State: {{reps[selected.rep2.bioguide_id].influence.local["In-State"][0]}}, Total Amount contributed {{reps[selected.rep2.bioguide_id].influence.local["In-State"][1] | currency}}</p>

    <p>Out-of-State: {{reps[selected.rep1.bioguide_id].influence.local["Out-of-State"][0]}}, Total Amount contributed {{reps[selected.rep1.bioguide_id].influence.local["Out-of-State"][1] | currency}} || No of In-State: {{reps[selected.rep2.bioguide_id].influence.local["Out-of-State"][0]}}, Total Amount contributed {{reps[selected.rep2.bioguide_id].influence.local["Out-of-State"][1] | currency}}</p>
  </div>

  <h2 class="center grid-14">Top Industries</h2>
  <!-- <p>Industry: {{reps[selected.rep1.bioguide_id].influence.industries[0].name}}, Total Amount contributed {{reps[selected.rep1.bioguide_id].influence.industries[0].amount | currency}} || Industry: {{reps[selected.rep2.bioguide_id].influence.industries[0].name}}, Total Amount contributed {{reps[selected.rep2.bioguide_id].influence.industries[0].amount | currency}}</p> -->
  <!-- <li ng-repeat="industry in compareIndustries">   <li ng-repeat="(key,val) in industry"> {{key}},{{val}}</li>
  </li> -->
  <!-- <p>Industry: {{reps[selected.rep1.bioguide_id].influence.industries[1].name}}, Total Amount contributed {{reps[selected.rep1.bioguide_id].influence.industries[1].amount | currency}} || Industry: {{reps[selected.rep2.bioguide_id].influence.industries[1].name}}, Total Amount contributed {{reps[selected.rep2.bioguide_id].influence.industries[1].amount | currency}}</p>

  <p>Industry: {{reps[selected.rep1.bioguide_id].influence.industries[2].name}}, Total Amount contributed {{reps[selected.rep1.bioguide_id].influence.industries[2].amount | currency}} || Industry: {{reps[selected.rep2.bioguide_id].influence.industries[2].name}}, Total Amount contributed {{reps[selected.rep2.bioguide_id].influence.industries[2].amount | currency}}</p> -->

  <h2 class="center grid-14">Report Card</h2>
  <p> Bills sponsored by {{reps[selected.rep1.bioguide_id].nyt_overview.first_name}} {{reps[selected.rep1.bioguide_id].nyt_overview.roles.bills_sponsored}} || by {{reps[selected.rep2.bioguide_id].nyt_overview.first_name}} {{reps[selected.rep2.bioguide_id].nyt_overview.roles[0].bills_sponsored}}</p>

  <p> Bills co-sponsored by {{reps[selected.rep1.bioguide_id].nyt_overview.first_name}} {{reps[selected.rep1.bioguide_id].nyt_overview.roles.bills_cosponsored}} || by {{reps[selected.rep2.bioguide_id].nyt_overview.first_name}} {{reps[selected.rep2.bioguide_id].nyt_overview.roles[0].bills_cosponsored}}</p>

  <p> Missed vote percentage by {{reps[selected.rep1.bioguide_id].nyt_overview.first_name}} {{reps[selected.rep1.bioguide_id].nyt_overview.roles.missed_votes_pct}} || by {{reps[selected.rep2.bioguide_id].nyt_overview.first_name}} {{reps[selected.rep2.bioguide_id].nyt_overview.roles.missed_votes_pct}}</p>

  <p> votes with party percentage by {{reps[selected.rep1.bioguide_id].nyt_overview.first_name}} {{reps[selected.rep1.bioguide_id].nyt_overview.roles.votes_with_party_pct}} || by {{reps[selected.rep2.bioguide_id].nyt_overview.first_name}} {{reps[selected.rep2.bioguide_id].nyt_overview.roles.votes_with_party_pct}}</p>

  <p>common votes {{comparison.votes.common_votes}}</p>
  <p>disagree votes {{comparison.votes.disagree_votes}}</p>
  <p>agree percentage {{comparison.votes.agree_percent}}</p>
  <p>disagree percentage {{comparison.votes.disagree_percent}}</p>
  <p>common bills {{comparison.bills.common_bills}}</p>

  {{analysis}}

<d3-donut scale="tempScale" on-click="d3DonutClick(item)" contributor="tempContrib" class="span2"></d3-donut>
<d3-donut scale="tempScale" on-click="d3DonutClick(item)" contributor="tempContrib2" class="span2"></d3-donut>
