<ng-include src="'/views/partials/header.html'"></ng-include>
<sub-view template="partials/select_rep1_name"></sub-view>
<div class="container">
  <div class="row-fluid individual span12">
    <div class="span6">

      <div class="row-fluid span12 individual">
        <div class="span4">
          <img class="img-rounded" src="https://s3.amazonaws.com/assets.sunlightfoundation.com/moc/200x250/{{selected.rep1.bioguide_id}}.jpg"/>
        </div>
          <div class="span8">
            <h2 class="blue">{{rep.overview.fullname}}</h2>
            <h3 class="gray text-center">{{rep.overview.state_name}}</h3>
          </div>
      </div>
      <div class="row-fluid span12 text-left">
        <div class="contactInfo">
          <h2 class="green">Contact Info</h2>
          <dl class="dl-horizontal">
            <dt class="icon-globe" tooltip="Web site" tooltip-placement="right"></dt>
            <dd><a http="{{ rep['overview']['website'] }}">{{ rep['overview']['website'] }}</a></dd>
            <dt class="icon-building" tooltip="Office address" tooltip-placement="right"></dt>
            <dd>{{ rep['overview']['office'] }}</dd>
            <dt class="icon-phone" tooltip="Phone" tooltip-placement="right"></dt>
            <dd><a href="tel:{{ rep['overview']['phone'] }}">{{ rep['overview']['phone'] }}</a></dd>
            <dt class="icon-print" tooltip="Fax" tooltip-placement="right"></dt>
            <dd><a href="fax:{{ rep['overview']['fax'] }}">{{ rep['overview']['fax'] }}</a></dd>
            <dt class="icon-envelope" tooltip="Contact" tooltip-placement="right"></dt>
            <dd><a href="{{ rep['overview']['contact_form'] }}">{{ rep['overview']['contact_form'] }}</a></dd>
            <dt class="icon-twitter" tooltip="Twitter" tooltip-placement="right"></dt>
            <dd><a href="https://twitter.com/{{ rep['overview']['twitter_id'] }}">{{ rep['overview']['twitter_id'] }}</a></dd><dd ng-show="!rep['overview']['twitter_id']">This member's Twitter page unavailable.</dd>
            <dt class="icon-facebook-sign" tooltip="Facebook" tooltip-placement="right"></dt>
            <dd><a href="https://facebook.com/{{ rep['overview']['facebook_id'] }}">{{ rep['overview']['facebook_id'] }}</a></dd><dd ng-show="!rep['overview']['facebook_id']">This member's Facebook page unavailable.</dd>
          </dl>
        </div>
      </div>
      <div class="row-fluid span12 text-left">
        <div class="donorInfo">
          <dl class="dl-horizontal">
            <h2 class="blue">Human Donors</h2>
            <dt>Individual Donations<br/><span class="moreInfo">Mouse over names<br/>for more info.</span></dt>
            <dd ng-show="!rep.littleSis.donors">This member's donors aren't yet listed on the LittleSis project. <a href="http://littlesis.org/guide#adding">Help add to the database.</a></dd>
            <dd width="300px">
              <table class="table">
                <tr ng-repeat="name in rep.littleSis.donors">
                  <td><span popover="{{name.summary}}" popover-placement="right" popover-trigger="mouseenter">{{name.name}}</span></td>
                  <td>{{name.amount | currency}}</td>
                </tr>
              </table>
            </dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="span6">
      <div class="row-fluid span12 text-left">
        <div class="repInfo">
          <h2 class="orange">About</h2>
          <dl class="dl-horizontal">
            <dt>Present Term</dt>
            <dd>{{ rep['overview']['term_start'] | date }} to {{ rep['overview']['term_end'] | date }}</dd>
            <dt>Party</dt>
            <dd>{{ rep['overview']['party_name'] }}</dd>
            <dt>Bio</dt>
            <dd ng-bind-html-unsafe="rep.influence.bio.metadata.bio"></dd>
          </dl>
        </div>
      </div>
      <div class="row-fluid span12 text-left">
        <div class="CommitteeInfo">
          <h2 class="red">Leadership Positions</h2>
          <dl class="dl-horizontal">
            <div ng-show="rep.overview.leadership_role.length">
              <dt>Leadership Role</dt>
              <dd>{{rep.overview.leadership_role}} of the {{rep.overview.chamber}}.</dd>
            </div>
            <dt>Committees</dt>
            <dd ng-repeat="committee in rep.committees">{{ committee.name }}</dd><dd ng-show="!rep.committees.length">No committees listed for this member.</dd>
          </dl>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>