<sub-view template="partials/select_rep1_name"></sub-view>
<div class="container">
  <div class="row-fluid individual">
    <div class="span6">

      <div class="row-fluid span12 individual">
        <div class="span4">
          <img class="img-rounded" src="https://s3.amazonaws.com/assets.sunlightfoundation.com/moc/200x250/{{selected.rep1.bioguide_id}}.jpg" onError="this.onerror=null;this.src='/images/noimage.gif'"/>
        </div>
        <div class="span8">
          <h2 class="blue">{{rep.overview.fullname}}</h2>
          <h3 class="gray text-center">{{rep.overview.state_name}}</h3>
          <h4 ng-show="rep.overview.district" class="text-center">District {{rep.overview.district}}</h4>
        </div>
      </div>

      <div class="row-fluid span12 text-left">
          <h2 class="green">Contact Info</h2>
          <p>
            <span class="icon-globe contact" tooltip="Web site" tooltip-placement="left"></span><a href="{{ rep['overview']['website'] }}">{{ rep['overview']['website'] }}</a><span ng-show="!rep['overview']['website']">This member's web site URL is unavailable.</span></br>

            <span class="icon-building contact" tooltip="Office address" tooltip-placement="left"></span><span>{{ rep['overview']['office'] }}</span><span ng-show="!rep['overview']['office']">This member's street address is unavailable.</span></br>

            <span class="icon-phone contact" tooltip="Phone" tooltip-placement="left"></span><a href="tel:{{ rep['overview']['phone'] }}">{{ rep['overview']['phone'] }}</a><span ng-show="!rep['overview']['phone']">This member's phone number is unavailable.</span></br>

            <span class="icon-print contact" tooltip="Fax" tooltip-placement="left"></span><a href="fax:{{ rep['overview']['fax'] }}">{{ rep['overview']['fax'] }}</a><span ng-show="!rep['overview']['fax']">This member's fax number is unavailable.</span></br>

            <span class="icon-envelope contact" tooltip="Contact form" tooltip-placement="left"></span><a href="{{ rep['overview']['contact_form'] }}">{{ rep['overview']['contact_form'] }}</a><span ng-show="!rep['overview']['contact_form']">This member's contact form page is unavailable.</span><br/>

            <span class="icon-twitter contact" tooltip="Twitter" tooltip-placement="left"></span><a href="https://twitter.com/{{ rep['overview']['twitter_id'] }}">{{ rep['overview']['twitter_id'] }}</a><span ng-show="!rep['overview']['twitter_id']">This member's Twitter page is unavailable.</span><br/>

            <span class="icon-facebook-sign contact" tooltip="Facebook" tooltip-placement="left"></span><a href="https://facebook.com/{{ rep['overview']['facebook_id'] }}">{{ rep['overview']['facebook_id'] }}</a><span ng-show="!rep['overview']['facebook_id']">This member's Facebook page is unavailable.</span>
          </p>
      </div>

      <div class="row-fluid span12 text-left">
        <dl class="dl-horizontal">
          <h2 class="blue">Human Donors</h2>
          <dt>Individual Donations<br/><span class="moreInfo">Mouse over names<br/>for more info.</span></dt>
          <dd ng-show="!rep.littleSis.donors">This member's donors aren't yet listed on <a href="http://littlesis.org/">LittleSis</a>, a database of who-knows-who built by experts and citizens like you. <a href="http://littlesis.org/guide#adding">Help add this member's donors.</a></dd>
          <dd width="300px">
            <table class="table">
              <tr ng-repeat="name in rep.littleSis.donors">
                <td><span popover="{{name.summary}}" popover-placement="right" popover-trigger="mouseenter">{{name.name}}</span></td>
                <td>{{name.amount | currency}}</td>
              </tr>
            </table>
          </dd>
        </dl>
      </div>

    </div>

    <div class="span6">
      <div class="row-fluid span12 text-left">
        <h2 class="orange">About</h2>
        <dl class="dl-horizontal">
          <dt>Present Term</dt>
          <dd>{{ rep['overview']['term_start'] | date }} to {{ rep['overview']['term_end'] | date }}</dd>
          <dt>Party</dt>
          <dd>{{ rep['overview']['party_name'] }}</dd>
          <dt>Bio</dt>
          <dd ng-bind-html-unsafe="rep.influence.bio.metadata.bio"></dd>
        </dl>
      </div>

      <div class="row-fluid span12 text-left">
        <h2 class="red">Leadership Positions</h2>
        <dl class="dl-horizontal">
          <div ng-show="rep.overview.leadership_role.length">
            <dt>Leadership Role</dt>
            <dd>{{rep.overview.leadership_role}} of the {{rep.overview.chamber}}.</dd>
          </div>
          <dt>Committees</dt>
          <dd ng-repeat="committee in rep.committees">{{ committee.name }}</dd><dd ng-show="!rep.committees.length">No committees listed for this member.</dd>
        </dl>
      </div>

      <div class="row-fluid span12 text-left">
        <h2 class="blue">Related Information</h2>
          <p>
            <span class="icon-globe contact" tooltip="See congressional district"> </span><a href="/#/district_map/{{selected.rep1.bioguide_id}}">View this member's district or state</a></br>
            <span class="icon-comment contact" tooltip="See words spoken in congress"></span><a href="/#/words/">See words this member spoke in congress</a></br>
            <span class="icon-group contact" tooltip="Compare to another representative"></span><span>Compare to someone else in congress</span></br>
            <div class="row-fluid">
            <div class="input-append offset1">
              <input id="appendedInputButton" type="text" ng-model="rep2" typeahead="rep as rep.name for rep in reps_list | filter:$viewValue | limitTo:8" typeahead-on-select='onSelect($item, $model, $label, "rep2")' placeholder="Find Representative by Name"></input>
              <button class="btn">Compare</btn>
            </div>
            </div>
          </p>
      </div>

    </div>

    </div>
  </div>
</div>