<ng-include src="'/views/partials/header.html'"></ng-include>
<sub-view template="partials/select_rep1_name"></sub-view>
<div class="row-fluid">
  <div class="span2">
    <img class="img-rounded" src="https://s3.amazonaws.com/assets.sunlightfoundation.com/moc/200x250/K000381.jpg" width="100%"/>
  </div>
  <div>{{ reps["K000381"]["overview"]['first_name'] }} {{ reps["K000381"]["overview"]['last_name'] }}</div>
  <div>{{ reps["K000381"]["overview"]['chamber'] }} Member representing {{ reps["K000381"]["overview"]['state_name'] }}</div>
  <div>LittleSis Data: </div>
<ul class="nav nav-pills">
  <li><a ng-init="showRepInfo = false" ng-click="showRepInfo = !showRepInfo">Rep Info</a></li>
  <li><a ng-init="showContactInfo = false" ng-click="showContactInfo = !showContactInfo">Contact Info</a></li>
  <li><a ng-init="showActivityInfo = false" ng-click="showActivityInfo = !showActivityInfo">Activity Info</a></li>
</ul>
  <div ng-show="showRepInfo">
    <dl class="dl-horizontal">
      <dt>Term</dt>
      <dd>{{ reps["K000381"]["overview"]['term_start'] }} to {{ reps["K000381"]["overview"]['term_end'] }}</dd>
      <dt>Party</dt>
      <dd>{{ reps["K000381"]["overview"]['party_name'] }}</dd>
      <dt>Bio</dt>
      <dd>{{ selected_rep.bio.metadata.bio }}</dd>
    </dl>
  </div>
  <div ng-show="showContactInfo">
    <dl class="dl-horizontal">
      <dt>Phone</dt>
      <dd>{{ reps["K000381"]["overview"]['phone'] }}</dd>
      <dt>Website</dt>
      <dd><a href="#{reps[\'K000381\'].overview.website}">{{ reps["K000381"]["overview"]['website'] }}</a> </dd>
      <dt>Office</dt>
      <dd>{{ reps["K000381"]["overview"]['office'] }}</dd>
      <dt>Contact Form</dt>
      <dd>{{ reps["K000381"]["overview"]['contact_form'] }}</dd>
      <dt>Twitter</dt>
      <dd>{{ reps["K000381"]["overview"]['twitter_id'] }}</dd>
      <dt>Facebook</dt>
      <dd>{{ reps["K000381"]["overview"]['facebook_id'] }}</dd>
      <dt>YouTube Channel</dt>
      <dd>{{ reps["K000381"]["overview"]['youtube_id'] }}</dd>
    </dl>
  </div>
  <div ng-show="showActivityInfo">
    <dl class="dl-horizontal">
      <dt>Votes with party</dt>
      <dd>{{ selected_rep.nyt_data['results']['roles']['votes_with_party_pct']}}</dd>
      <dt>Missed votes</dt>
      <dd>{{ selected_rep.nyt_data['results']['roles']['missed_votes_pct']}}</dd>
    </dl>
  </div>