<div class="container">
  <div class="row-fluid words">
    <div class="span6">
      <div class="span12">
        <h2 class="red">What is your legislator saying?</h2>
        <p>Select a state, then a representative.</p>
        <input type="text" ng-model="state.selected" typeahead="state as state.name for state in STATES | filter:$viewValue | limitTo:8" typeahead-on-select='onStateSelect($item, $model, $label)' placeholder="Example: California or CA"></input>
        <select ng-model="rep" ng-options="rep as rep.full_name for rep in state_reps | orderBy:'last_name'" ng-change="onRepSelect(rep)"></select>
        <p ng-hide="words_by_rep">No Data Avaialable</p>
        <words-bar-chart data="words_by_rep"></words-bar-chart>
      </div>
    </div>
    <div class="span6">
      <div class="row-fluid span12">
        <h2 class="orange">How often do legislators say...</h2>
        <p>Since 1996:</p>
        <form class="formWordQuery" ng-submit="wordQuery()">
          <input type="text" ng-model="word_queried" placeholder="Example: President"></input>
          <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
        </form>
        <words-bar-chart data="words_queried"></words-bar-chart>
      </div>
      <div class="row-fluid span12">
        <h2 class="blue">Move your mouse over the graph to see the word counts.</h2>
      </div>
      <div class="row-fluid span12">
        <h2 class="red">More about this data:</h2>
        <p>This data is scraped, parsed and indexed daily from the  Congressional Record by The Sunlight Foundation.  If you would like more information about the data or the tool please see our <a href="/#/attribution/">attribution</a> page. </p>
      </div>
    </div>
  </div>
</div>
