<sub-view template="partials/header"></sub-view>
<table class="words">
  <tr>
    <td><h2>What is your legislator saying?</h2></td>
    <td class="spacer"></td>
    <td><h2>How often do legislators say...</h2></td>
  </tr>
  <tr>
    <td>
      <select ng-model="state" ng-options="state for state in states"></select>
      <select ng-model="rep" ng-options="rep.full_name for rep in reps | orderBy:'last_name'"></select>
    </td>
    <td class="spacer"></td>
    <td class="alignTop"><input ng-model="wordQuery"></input></td>
  </tr>
  <tr>
    <td><p class="wordList" ng-repeat="word in (words | orderBy:'count':true) | limitTo:15"><strong>{{word.ngram}}</strong>: {{word.count}}</p></td>
    <td class="spacer"></td>
    <td class="wordFrequency alignTop"><strong>{{wordFrequency}}</strong> times since 1996</td>
  </tr>
</table>
<sub-view template="partials/footer"></sub-view>
